<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" href="/prettify/prettify.css" rel="stylesheet"/>
<link type="text/css" href="/js/css/ui-lightness/jquery-ui-1.8.6.custom.css" rel="stylesheet"/>
<script type="text/javascript" src="/prettify/prettify.js"></script>
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/development-bundle/ui/jquery-ui-1.8.6.custom.js"></script>
<script type="text/javascript" src="/js/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<title>{% block title %}Turn It In{% endblock %}</title>
</head>
<body onload="prettyPrint()"><div class="userinfo">{{ userInfo }}</div>
{% block content %}

{% endblock %}
</body>
</html>