{# /class/hw1/student@gmail.com page for viewing a student's submitted homework. #}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2><a href="/{{ className }}">{{ className }}</a>: <a href="/{{ className }}/{{ hwName }}">{{ hwName }}</a></h2>
<h2>{{ studentNickname }}</h2>
<ul>
{% for up in uploads %}
<li>{{ up.fileName }}<br/><em>Submitted: {{ up.date }}</em><br><pre class="prettyprint linenums">{{ up.file|escape|urlize }}</pre></li>
{% endfor %}
</ul>
{% endblock %}